* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
  color: #474747;
}
h1:hover,
h2:hover,
p:hover,
span:hover {
  color: #000;
  transition: 0.3s;
}
main {
  background: #edecec;
}
/* SECTION ONE */
main .section-one {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .section-one .box {
  width: 240px;
  height: 240px;
  border-radius: 35px;
  background: #edecec;
  box-shadow: 10px 10px 30px #c9c9c9, -10px -10px 30px 5px #fff,
    inset 10px 10px 50px rgba(0, 0, 0, 0.02);
  display: flex;
  justify-content: center;
  align-items: center;
}
main .section-one .box::before {
  content: "JH";
  font-size: 90px;
  letter-spacing: 2px;
  font-weight: 700;
  transition: 0.3s;
}
main .section-one .box:hover:before {
  color: #000;
}
main .section-one h1 {
  letter-spacing: 2px;
  font-size: 50px;
  margin-top: 80px;
}
main .section-one h2 {
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 20px;
  margin-top: 10px;
}
/* Section Two */
main .section-two {
  height: 100vh;
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 30px;
}
main .section-two .card-profile {
  width: 350px;
  margin: auto;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  background: #edecec;
  box-shadow: 10px 10px 30px #c9c9c9, -10px -10px 30px 5px #fff,
    inset 10px 10px 50px rgba(0, 0, 0, 0.02);
}
main .section-two .card-profile img {
  border-radius: 50%;
  width: 240px;
}
main .section-two .card-profile ul {
  list-style: none;
  padding: 50px 0;
}
main .section-two .card-profile ul li {
  margin: 30px 0;
}
main .section-two .card-profile ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
  color: #474747;
}
main .section-two .card-profile ul li img {
  width: 20px;
  margin-right: 10px;
  border-radius: 0;
  filter: opacity(0.6);
}
main .section-two .card-profile ul li a:hover img {
  filter: opacity(1);
}
main .section-two .card-profile ul li a:hover {
  color: #000;
}

/* CARD DESCRIPTION */
main .section-two .card-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .section-two .card-description .about .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .section-two .card-description .about .title h2 {
  font-size: 36px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  width: 220px;
}
main .section-two .card-description .about .title .line {
  background: #949494;
  border-radius: 50px;
  width: 100%;
  height: 4px;
  margin-bottom: 20px;
}
main .section-two .card-description .about .text {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  margin: 10px 0 30px;
}
main .section-two .card-description .about .text p {
  font-size: 18px;
}
main .section-two .card-description .skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  width: 100%;
  margin-top: 50px;
}
main .section-two .card-description .skills .list span {
  font-size: 26px;
  letter-spacing: 1px;
  position: relative;
}
main .section-two .card-description .skills .list .line {
  background: #949494;
  border-radius: 50px;
  width: 10%;
  height: 4px;
  margin: 30px 0 50px;
}
main .section-two .card-description .skills .list p {
  margin: 20px 0;
  font-size: 18px;
  display: flex;
  align-items: center;
}
main .section-two .card-description .skills .list img {
  width: 20px;
  margin-right: 10px;
}

/* SECTION THREE*/
main .section-three {
  height: 100vh;
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 50px;
  align-items: center;
}
main .section-three .title {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
main .section-three .title .line {
  width: 20%;
  height: 3px;
  background: #949494;
  margin: 14px 0 20px;
}
main .section-three .title h3 {
  font-size: 22px;
}
main .section-three .portfolio {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  text-align: center;
}
main .section-three .portfolio .card {
  border-radius: 8px;
  background: #edecec;
  box-shadow: 10px 10px 30px #c9c9c9, -10px -10px 30px 5px #fff,
    inset 10px 10px 50px rgba(0, 0, 0, 0.02);
}
main .section-three .portfolio .card img {
  border-radius: 5px 5px 0 0;
  width: 100%;
}
main .section-three .portfolio .card h5 {
  font-size: 16px;
  margin: 10px;
}
main .section-three .portfolio .card p {
  margin-bottom: 20px;
}

@media only screen and (max-width: 1440px) {
  /* Section Two */
  main .section-two {
    height: 100vh;
    padding: 0;
    grid-gap: 70px;
  }
  main .section-two .card-profile {
    width: 330px;
  }
  /* CARD DESCRIPTION */
  main .section-two .card-description .about .text {
    grid-gap: 30px;
  }
}

@media only screen and (max-width: 1024px) {
  /* Section Two */
  main .section-two {
    height: 100%;
    padding: 100px 0;
    grid-gap: 50px;
  }
  main .section-two .card-profile {
    width: 300px;
    padding: 40px 0;
  }
  main .section-two .card-profile img {
    width: 220px;
  }
  /* CARD DESCRIPTION */
  main .section-two .card-description .about .title h2 {
    font-size: 30px;
    width: 240px;
  }
  main .section-two .card-description .about .text {
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin: 0s 0 10px;
  }
  main .section-two .card-description .skills {
    margin-top: 30px;
  }
  main .section-two .card-description .skills .list span {
    font-size: 24px;
  }
  main .section-two .card-description .skills .list .line {
    margin: 20px 0 40px;
  }
}

@media only screen and (max-width: 768px) {
  /* Section Two */
  main .section-two {
    height: 100%;
    grid-template-columns: 1fr;
    grid-gap: 80px;
    padding: 50px 0;
  }
  main .section-two .card-profile {
    width: 90%;
    padding: 0 0;
    flex-direction: row;
    justify-content: space-around;
  }
  main .section-two .card-profile img {
    width: 240px;
  }
  main .section-two .card-profile ul li {
    margin: 20px 0;
  }
  /* CARD DESCRIPTION */
  main .section-two .card-description {
    width: 90%;
    margin: auto;
  }
  main .section-two .card-description .about .text {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
  }
}

@media only screen and (max-width: 600px) {
  /* SECTION ONE */
  main .section-one .box {
    width: 150px;
    height: 150px;
  }
  main .section-one .box::before {
    font-size: 60px;
  }
  main .section-one h1 {
    font-size: 36px;
    margin-top: 50px;
  }
  main .section-one h2 {
    font-size: 16px;
  }
  /* Section Two */
  main .section-two {
    grid-template-columns: 1fr;
    grid-gap: 60px;
  }
  main .section-two .card-profile {
    padding: 50px 0;
    flex-direction: column;
  }
  main .section-two .card-profile img {
    width: 200px;
  }
  main .section-two .card-profile ul {
    padding: 20px 0 0;
  }
  main .section-two .card-profile ul li a {
    font-size: 16px;
  }
  /* CARD DESCRIPTION */
  main .section-two .card-description .about .title h2 {
    font-size: 20px;
    width: 180px;
  }
  main .section-two .card-description .about .title .line {
    height: 3px;
  }
  main .section-two .card-description .about .text {
    grid-template-columns: 1fr;
  }
  main .section-two .card-description .about .text p {
    font-size: 16px;
  }
  main .section-two .card-description .skills {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 10px;
  }
  main .section-two .card-description .skills .list .line {
    margin: 15px 0 25px;
    width: 30%;
    height: 3px;
  }
  main .section-two .card-description .skills .list p {
    font-size: 16px;
  }

  /* SECTION THREE*/
  main .section-three {
    width: 80%;
    height: 100%;
    grid-template-columns: 1fr;
    padding: 50px 0;
  }
  main .section-three .title {
    height: 100%;
    justify-content: center;
  }
  main .section-three .portfolio {
    width: 100%;
    grid-template-columns: 1fr;
  }
}
