/* SECTION ONE */
main .section-one {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .section-one .box {
  width: 240px;
  height: 240px;
  border-radius: 35px;
  background: #edecec;
  /*box-shadow: 10px 10px 30px #c9c9c9, -10px -10px 30px 5px #fff;*/
  box-shadow: -4px -4px 15px rgba(255, 255, 255, 1),
    4px 4px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
main .section-one .box::before {
  content: "JH";
  font-size: 90px;
  letter-spacing: 2px;
  font-weight: 700;
  transition: 0.3s;
}
main .section-one .box:hover::before {
  color: #000;
}
main .section-one h1 {
  letter-spacing: 2px;
  font-size: 50px;
  margin-top: 80px;
}
main .section-one h2 {
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 20px;
  margin-top: 10px;
}

/* SECTION TWO */
main .section-two {
  padding: 50px 0;
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 70px;
  justify-content: center;
  align-items: center;
}
main .section-two img {
  width: 80%;
}
main .section-two .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
main .section-two .container .title h2 {
  font-size: 50px;
  margin-bottom: 20px;
}
main .section-two .container .title .line {
  background: #949494;
  border-radius: 50px;
  width: 40%;
  height: 3px;
  margin-bottom: 20px;
}
main .section-two .container p {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 30px;
}
main .section-two .container a {
  background: #edecec;
  padding: 12px 24px;
  border-radius: 40px;
  text-decoration: none;
  box-shadow: -4px -4px 15px rgba(255, 255, 255, 1),
    4px 4px 15px rgba(0, 0, 0, 0.1);
}
main .section-two .container a:hover {
  box-shadow: inset -4px -4px 10px rgba(255, 255, 255, 0.5),
    inset 4px 4px 10px rgba(0, 0, 0, 0.1);
  transform: scale(0.99);
}

/* SECTION THREE */
main .section-three {
  padding: 135px 0;
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-gap: 50px;
  align-items: center;
}
main .section-three .title {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
main .section-three .title .line {
  width: 20%;
  height: 3px;
  background: #949494;
  margin: 14px 0 20px;
}
main .section-three .title h3 {
  font-size: 50px;
}
main .section-three .title p {
  font-size: 20px;
  line-height: 28px;
}
main .section-three .portfolio {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  text-align: center;
}
main .section-three .portfolio .card {
  border-radius: 20px;
  padding: 8px;
  transition: 0.3s;
  background: #edecec;
  box-shadow: 10px 10px 30px #c9c9c9, -10px -10px 30px 1px #fff;
  box-shadow: -4px -4px 15px rgba(255, 255, 255, 0.6),
    4px 4px 15px rgba(0, 0, 0, 0.1);
  position: relative;
}
main .section-three .portfolio .card::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 7px;
  bottom: 7px;
  right: 7px;
  /*background: #edecec;*/
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: 400;
  opacity: 0;
  transition: 0.3s 0s;
}
main .section-three .portfolio a:nth-child(1) .card::after {
  content: "PORTFOLIO";
}
main .section-three .portfolio a:nth-child(2) .card::after {
  content: "PIENSENGRANDE";
}
main .section-three .portfolio a:nth-child(3) .card::after {
  content: "INSTAGRAM";
}
main .section-three .portfolio a:nth-child(4) .card::after {
  content: "INSTAGRAM CLONE";
}
main .section-three .portfolio .card:hover {
  box-shadow: inset -4px -4px 10px rgba(255, 255, 255, 0.5),
    inset 4px 4px 10px rgba(0, 0, 0, 0.1);
}
main .section-three .portfolio .card:hover::after {
  opacity: 1;
  transition: 0.3s 0.3s;
}
main .section-three .portfolio .card img {
  border-radius: 14px;
  width: 100%;
  opacity: 1;
  transition: 0.3s;
}
main .section-three .portfolio .card:hover img,
main .section-three .portfolio .card:hover h5,
main .section-three .portfolio .card:hover p {
  opacity: 0;
}
main .section-three .portfolio .card h5 {
  display: none;
  margin: 10px;
  font-size: 16px;
  transition: 0.3s;
}
main .section-three .portfolio .card p {
  display: none;
  margin-bottom: 10px;
  transition: 0.3s;
}
/* FOOTER */
.contact-footer-container {
  width: 60%;
  margin: auto;
  padding: 100px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact-left h3 {
  width: 70%;
  font-size: 50px;
}
.contact-right p {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 10px;
}
.contact-right .x {
  margin-top: 10px;
}
.contact-right a {
  border-bottom: 2px solid #949494;
}
.contact-footer-social {
  display: flex;
}
.icon-footer {
  width: 28px;
  height: 28px;
  margin-right: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-footer a {
  border-bottom: 0;
}
.icon-footer img {
  margin-top: 2px;
  width: 20px;
  padding: 10px;
}
footer .menu-footer {
  width: 60%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .menu-footer a {
  color: #000;
  font-weight: 600;
}
footer .menu-footer ul {
  display: flex;
  list-style: none;
}
footer .menu-footer ul li {
  margin: 0 10px;
}
@media only screen and (max-width: 1440px) {
  main .section-two,
  main .section-three,
  footer .contact-footer-container,
  footer .menu-footer {
    width: 80%;
  }
}

@media only screen and (max-width: 1024px) {
  /* SECTION TWO */
  main .section-two {
    width: 90%;
    grid-gap: 0;
  }
  /* SECTION THREE */
  main .section-three {
    grid-template-columns: 1fr;
    height: 100%;
    padding: 100px 0;
  }
  main .section-three .title {
    height: 100%;
  }
  main .section-three .title .line {
    width: 10%;
  }
  main .section-three .portfolio {
    width: 100%;
  }
  main .section-three .portfolio .card img {
    border-radius: 14px 14spx 5px 5px;
  }
  main .section-three .portfolio .card h5,
  main .section-three .portfolio .card p {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 600px) {
  /* SECTION ONE */
  main .section-one .box {
    width: 150px;
    height: 150px;
  }
  main .section-one .box::before {
    font-size: 60px;
  }
  main .section-one h1 {
    font-size: 36px;
    margin-top: 50px;
  }
  main .section-one h2 {
    font-size: 16px;
  }
  /* SECTION TWO */
  main .section-two {
    width: 80%;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  main .section-two img {
    width: 100%;
  }
  main .section-two .container {
    width: 90%;
  }
  main .section-two .container p {
    font-size: 16px;
    line-height: 22px;
  }
  /* SECTION THREE */
  main .section-three {
    width: 80%;
    height: 100%;
    grid-template-columns: 1fr;
    padding: 50px 0;
  }
  main .section-three .title {
    height: 100%;
    justify-content: center;
  }
  main .section-three .title p {
    font-size: 16px;
    line-height: 22px;
  }
  main .section-three .portfolio {
    width: 100%;
    grid-template-columns: 1fr;
  }
  main .section-three .portfolio .card {
    border-radius: 16px;
    padding: 6px;
  }
  main .section-three .portfolio .card img {
    border-radius: 10px 10px 3px 3px;
  }
}
